/*=== fonts ===*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Titillium+Web:wght@700&display=swap');

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: grid;
  justify-content: center;
  grid-template-rows: 1fr 3fr;
  grid-template-columns: 520px;
}

main > *:first-child {
  text-align: center;
  align-self: center;
}

/*=== loginForms ===*/

#loginForms > * {
  line-height: 1rem;
}
#loginForms > h1 {
  color: #4267B2;
  font-size: 2rem;
}
#loginForms > p {
  color: #4267B2;
  font-size: 1.5rem;
}
#loginForms > button {
  background: #4267B2;
}
#loginForms > h6 {
  font-weight: 400;
  font-size: 1.05rem;
  text-align: right;
}
#loginForms > h6 > a {
  font-weight: 500;
  text-decoration: none;
  color: #4267B2;
}
#loginForms > h6 > a:hover {
  text-decoration: underline;
  cursor: pointer;
}

/*=== registerForms ===*/
#registerForms > * {
    line-height: 1rem;
  }
#registerForms > h1 {
  font-size: 2rem;
}
#registerForms > h1 > span {
  color: #4267B2;
}
#registerForms > button {

  background: #4267B2;
}
#registerForms > h6 {
  font-weight: 400;
  font-size: 1.05rem;
  text-align: right;
}
#registerForms > h6 > a {
  font-weight: 500;
  text-decoration: none;
  color: #4267B2;
}
#registerForms > h6 > a:hover {
  text-decoration: underline;
  cursor: pointer;
}

